html, body {
	background-color: #f8f8ff;
	color: black;
	font-family: Arial Black, Helvetica, sans-serif;
}

title {
	text-align: center;
	
}

p {
	text-align: center;
	/*font-size: 14px;*/
}

a {
	color: blue;
}

#my_photo{
	width: 100px;
    height: 100px;
}


h1,h2,h3 {
	text-align: center;
}

ul,li {
	font-family: Arial Black, Helvetica, sans-serif;
	font-style: italic; 
}


table, tr, td {
	border-style: solid;
	font-style: normal;
}
